-# Page Content
.container

  .row
    .margin-top.jumbotron.col-md-8
      #forkme
        %a{:href => 'https://github.com/drpowell/degust'}
          %img{:src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png', :alt=>'Fork me on GitHub'}
      %h1 Degust
      %p.lead
        分析处理RNA-seq数据以及基本的可视化操作
      %p
        上传包含每个样本reads数量的CSV文件，即可进行表达差异分析
      %p
        %a.btn.btn-primary.btn-large{:href=> "#{upload_path}"} 上传reads数统计文件 &raquo;

    .margin-top.col-md-4
      .panel.panel-default
        .panel-body
          %h3 如何开始
          %p Degust需要RNA-seq数据预处理后的文件作为输入.你可以上传原始的reads count文件，或者包含差异分析结果的文件（来源包括Limma/Voom, edgeR 或者 DESeq）。
          %a.btn.btn-default.btn-block{:href=> "#{upload_path}"} 上传数据 &raquo;
      - if !user_signed_in?
        %a.btn.btn-block.btn-social.btn-github{:href => "#{root_path}/auth/github"}
          %span.fa.fa-github
          用Github帐号登录
        %a.btn.btn-block.btn-social.btn-google{:href => "#{root_path}/auth/weibo"}
          %span.fa.fa-weibo
          用新浪微博帐号登录
    -#.col-md-4
  -#.row

  .row
    .col-md-4
      .panel.panel-default
        .panel-body
          %h3 示例
          %p
            你可以预览这个基于
            %a{:href=>"https://drpowell.github.io/degust/example-counts.csv"}真实数据
            生成的演示程序。或者点击
            %a{:href=>'http://degust.erc.monash.edu/degust/compare.html?code=example'}这里
            观看教学视频。
          %a.btn.btn-default.btn-block{:href=>'http://degust.erc.monash.edu/degust/compare.html?code=example'} 进入演示 &raquo;
    .col-md-4
      .panel.panel-default
        .panel-body
          %h3 说明
          %p Degust国内镜像，不提供任何承诺
          %a.btn.btn-default.btn-block{:href=>'http://degust.erc.monash.edu'} 原始链接 &raquo;

-#.container
