<div id='about-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
        <h3 id='myModalLabel'>关于Degust</h3>
      </div>
      <div class='modal-body'>
        <p>Degust : 分析处理RNA-seq数据以及基本的可视化操作</p>
        <p>版本 : {{version}}  (查看 <a target='_blank' href='https://raw.github.com/drpowell/degust/master/Changelog.txt'>更新日志</a>)</p>
        <p>访问<a href='http://degust.org/'>Degust项目主页</a>,
        或者<a href='https://github.com/drpowell/degust'>GitHub上的源代码</a>
        </p>
        <div>作者：<a href='http://thunking.drp.id.au/'>David R. Powell</a> (<a href='http://twitter.com/d_r_powell'>@d_r_powell</a>)</div>
        <hr/>
        <div class='supported-by'>
          赞助方:
          <div>
            <a href='https://platforms.monash.edu/bioinformatics/'>Monash Bioinformatics Platform, Monash University</a>
          </div>

          <div style='margin-top: 10px;'>
            曾经的赞助方:
            <a href='http://vicbioinformatics.com/'>Victorian Bioinformatics Consortium, Monash University</a>
            <a href='http://www.vlsci.org.au/lscc'>VLSCI's Life Sciences Computation Centre</a>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-primary' data-dismiss='modal' aria-hidden='true'>关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
